<h1 align="center" class="my-3 display-4"><%= "Category: " + @category.name %></h1>

<div class="container pagination justify-content-center">
  <%= paginate @category.articles %>
</div>

<%= render 'articles/article', obj: @category.articles %>

<div class="container pagination justify-content-center">
  <%= paginate @category.articles %>
</div>