<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://hastings-alpha-blog.herokuapp.com">Alpha Blog Demo</a>
      by <a href="https://jeremyhastings.co.uk">Jeremy Hastings</a>
    </small>
  </footer>
</div>
