<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://hastings-alpha-blog.herokuapp.com">Alpha Blog Demo</a>
      by <a href="https://jeremyhastings.co.uk">Jeremy Hastings</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Articles", articles_path %></li>
      </ul>
    </nav>
  </footer>
</div>
